/*
Color palette:
  #121212
  #D4AF37
  #303030
*/

/* Importing fonts */
/* الخط العثماني لرواية ورش */
@font-face {
  font-family: "Uthmanic-Warsh";
  src: url("../fonts/Uthmanic-Warsh.otf") format("truetype");
}
/* IBM arabic */
@font-face {
  font-family: "IBM-R";
  src: url("../fonts/IBM-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "IBM-SB";
  src: url("../fonts/IBM-SemiBold.ttf") format("truetype");
}
/* Poppins */
@font-face {
  font-family: "Poppins-M";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-B";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}
/* Initializing page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #121212 !important;
  color: #d4af37 !important;
  font-family: "IBM-R", sans-serif !important;
}
nav {
  backdrop-filter: blur(3px);
  background: #303030;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  flex: 0 0 12vh;
}
nav div {
  padding: 0.5rem 1rem;
}
#more {
  background-color: #d4af37;
  color: #121212;
  margin: 10px 0 0 0;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  font-size: 20px;
  font-weight: 500;
}
#more-link {
  text-decoration: none;
}
#more:hover {
  background-color: #c4a338;
}
#pre-loader {
  background: #121212
    url(https://cdn.pixabay.com/animation/2022/07/29/03/42/03-42-15-221_512.gif)
    no-repeat center center;
  background-size: 5%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
header {
  margin: 50px 0;
}
header h1 {
  font-weight: 800;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
main section h1 {
  font-size: 2.4rem;
  font-weight: 800;
}
main section div {
  padding: 10px !important;
}
.card {
  background-color: #303030 !important;
  transition: 0.3s all ease;
}
.card .card-title {
  font-weight: 500;
  color: #d4af37 !important;
  font-size: 1.6rem;
}
.card:hover {
  background-color: #3b3b3b !important;
  transition: 0.3s all ease;
}
main section div a {
  color: #d4af37 !important;
  text-decoration: none;
}
.col i {
  color: #d4af37 !important;
  margin-top: 10px;
}
#section-header {
  margin: 0 0 10px 0;
}
hr {
  border: none !important;
  height: 2px !important;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    #d4af37,
    rgba(0, 0, 0, 0)
  ) !important;
}
