/*
Color palette:
  #121212
  #D4AF37
*/

/* Importing fonts */
@font-face {
  font-family: "Uthmanic-Warsh";
  src: url("../fonts/Uthmanic-Warsh.otf") format("truetype");
}
@font-face {
  font-family: "IBM-R";
  src: url("../fonts/IBM-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "IBM-SB";
  src: url("../fonts/IBM-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-M";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-B";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #121212 !important;
  color: #d4af37 !important;
  font-family: "IBM-R", sans-serif !important;
}
nav {
  backdrop-filter: blur(5px);
  background: #3b3b3b80;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
nav div {
  padding: 0.5rem 1rem;
}
#more {
  background-color: #d4af37;
  color: #121212;
}
#more:hover {
  background-color: #c4a338;
}
